/* custom.css */
.contact-hover-effect {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  .contact-hover-effect::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 200%;
    background: rgb(236, 120, 120);
    transform: translateX(-50%) scaleX(0);
    transition: transform .6s ease;
    z-index: -1;
  }
  
  .contact-hover-effect:hover::before {
    transform: translateX(-50%) scaleX(1);
    transform: translateY(-50%) scaleY(1);
  }

.nav-item-hover-effect {
  position: relative;
}

.nav-item-hover-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust this to control the distance from the text */
  width: 100%;
  height: 2px; /* Adjust this to control the thickness of the line */
  background: rgb(236, 120, 120);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-item-hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  